<template>
  <form @submit.prevent="submit" v-if="fields.email_verification == 'new'">
    <!--begin::Input group-->
    <div class="row mb-6">
      <!--begin::Label-->
      <label class="col-lg-4 col-form-label required fw-bold fs-6">Email</label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8 fv-row">
        <!--begin::Row-->
        <div class="row">
          <!--begin::Col-->
          <div class="col-lg-9 fv-row mb-6">
            <input type="text" name="email" v-model="fields.email" class="form-control form-control-lg form-control-solid" placeholder="Alamat Email" required />
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-lg-3 fv-row">
            <input @click="verifyMail()" type="submit" class="btn btn-danger" name="submit" value="verify" />
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
  </form>
  <form @submit.prevent="submit" v-else-if="fields.email_verification != 'new' && fields.email_verification != 'verified'">
    <p>Kami sudah mengirimkan kode 4 digit ke email {{fields.email}}</p>
    <!--begin::Input group-->
    <div class="row mb-6">
      <!--begin::Label-->
      <label class="col-lg-4 col-form-label required fw-bold fs-6">Verification Code</label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8 fv-row">
        <!--begin::Row-->
        <div class="row">
          <!--begin::Col-->
          <div class="col-lg-9 fv-row mb-6">
            <input type="text" v-model="kode.code" class="form-control form-control-lg form-control-solid" placeholder="Kode 4 digit" required/>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-lg-3 fv-row">
            <input @click="verifyingMail()" type="submit" class="btn btn-warning" name="submit" value="verify" />
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
  </form>
  <form @submit.prevent="submit" v-else>
    <!--begin::Input group-->
    <div class="row mb-6">
      <!--begin::Label-->
      <label class="col-lg-4 col-form-label required fw-bold fs-6">Full Name</label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-7">
        <input type="text" name="name" v-model="fields.name" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Nama Lengkap" />
      </div>
      <!--end::Col-->
      <!--begin::Icon-->
      <div class="col-lg-1">
        <i class="bi text-right fs-6" :class="[fields.name ? 'bi-check2-square text-success' : 'bi-exclamation-triangle text-warning']"></i>
      </div>
      <!--end::Icon-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-6">
      <!--begin::Label-->
      <label class="col-lg-4 col-form-label required fw-bold fs-6">Username</label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8">
        <input type="text" name="username" v-model="fields.username" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Username" value="" />
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-6">
      <!--begin::Label-->
      <label class="col-lg-4 col-form-label required fw-bold fs-6">Email</label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8 fv-row">
        <!--begin::Row-->
        <div class="row">
          <!--begin::Col-->
          <div class="col-lg-9 fv-row mb-6">
            <input type="text" name="email" v-model="fields.email" class="form-control form-control-lg form-control-solid" placeholder="Alamat Email" required />
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-lg-3 fv-row">
            <button onclick="sendEmailCode()" type="button" class="btn btn-danger" name="button" data-bs-toggle="modal" data-bs-target="#kt_modal_verify_email">Verify</button>
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-6">
      <!--begin::Label-->
      <label class="col-lg-4 col-form-label fw-bold fs-6">
        <span class="required">Whatsapp</span>
        <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Whatsapp harus dalam keadaan aktif"></i>
      </label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8 fv-row">
        <!--begin::Row-->
        <div class="row">
          <!--begin::Col-->
          <div class="col-lg-9 fv-row mb-6">
            <input type="tel" name="whatsapp" v-model="fields.whatsapp" class="form-control form-control-lg form-control-solid" placeholder="Nomor Whatsapp Aktif" value="" required />
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-lg-3 fv-row">
            <button type="button" class="btn btn-danger" name="button" data-bs-toggle="modal" data-bs-target="#kt_modal_verify_whatsapp">Verify</button>
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-6">
      <!--begin::Label-->
      <label class="col-lg-4 col-form-label fw-bold fs-6">Nama Bank</label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8 fv-row">

        <select class="form-select form-select-solid" name="bank"v-model="fields.bank">
          <option value="">Klik di sini</option>
          <option value="">-----------------------------</option>
          <option v-for="bank in banks" :value="bank.id">{{bank.bank_name}}</option>
        </select>
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->

    <!--begin::Input group-->
    <div class="row mb-6">
      <!--begin::Label-->
      <label class="col-lg-4 col-form-label fw-bold fs-6">Nomor Rekening</label>
      <!--end::Label-->
      <!--begin::Col-->
      <div class="col-lg-8 fv-row">
        <input type="text" name="rekening" v-model="fields.rekening" class="form-control form-control-lg form-control-solid" placeholder="Nomor Rekening" value="" />
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->

    <!--begin::Input group-->
    <div class="row mb-6">
      <!--begin::Col-->
      <div class="col-xs-12 fv-row">
        <input type="submit" class="btn btn-block btn-lg btn-danger" name="submit" value="SUBMIT" />
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
  </form>
</template>

<script>
  export default{
    data: function(){
      return{
        banks:[],
        fields: {},
        user:[],
        kode: {}
      }
    },
    mounted(){
      this.loadBank();
      this.loadUser();
    },
    methods:{
      loadUser: function(){
        axios.get('/client/m/session')
        .then((response) => {
          this.fields = response.data;
        })
        .catch(error => {
          console.log(error)
        });
      },
      loadBank: function(){
        axios.get('/api/v3/bank/list')
        .then((response) => {
          this.banks = response.data;
        })
        .catch(error => {
          console.log(error)
        });
      },
      submit(){
        axios.post('/p/v3/getting-started',this.fields)
        .then((respose)=> {
          this.fields = {};
        })
        .catch(error => {
          console.log(error)
        });
      },
      verifyMail(){
        axios.post('/p/v3/verify-mail',this.fields)
        .then((respose)=> {
          this.$emit('sentVerifyEmail');
        })
        .catch(error => {
          console.log(error)
        });
      },
      verifyingMail(){
        axios.post('/p/v3/verifying-mail',this.kode)
        .then((respose)=> {
          console.log(response)
        })
        .catch(error => {
          console.log(error)
        });
      }
    }
  }
</script>

<style scope>
.hidden-gs{
  display : none!important;
}
</style>
