<template>
  <div>
    <h4>emailnya {{client.email}}</h4>

  </div>
</template>

<script>
  export default {
    data: function(){
      return{
        client:[]
      }
    },
    mounted(){
      this.loadClient();
    },
    methods:{
      loadClient: function(){
        axios.get('/client/m/session')
        .then((response) => {
          this.client = response.data;
        })
        .catch(error => {
          console.log(error)
        });
      }
    }
  }
</script>
